* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.header-link {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}



/* button style */
.buttons {
    display: inline-block;
    justify-content: center;
    padding: 1px 5px;
    line-height: 20px;
} 

.btn-primary {
    font-size: 13px;
    background-color: rgb(0 97 254);
    color: white;
} */


/* COMMON */
/* Typography */

body {
    font-family: sans-serif;
}

.arrow {
    margin-top: 60px;
    font-size: 40px;
    transform: rotate(90deg);
    display: inline-block;
}

.rem-08 {
    font-size: 0.8rem;
    
}

h5 {
    font-size: 1rem;
}

/* Layout */

.section {
    padding: 30px 0px 0px; 
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    /* debug */
    /* border: 1px solid black; */
    min-height: 300px;
    /* background-color: lightgreen; */
}

.small-container {
    width: 70%;
    max-width: 900px;
    margin: 0 auto;

    /* debug */
    /* border: 1px solid blue; */
    min-height: 300px;
    /* background-color: lightseagreen; */
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

/* Utilities  */
.justify-content {
    justify-content: space-between;
}


.mt-40 {
    margin-top: 40px;
}
.mt-20 {
    margin-top: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}
.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.hr-business {
    width: 100%;
}

.hr-business-low {
    width: 20%;
}

.grey {
    color: lightgray;
}

.business-list {
    gap: 10px;
}

.fa-check {
    color: hsl(213.57deg 99.13% 55.1%);
    font-size: 0.9rem;
}
/* body */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px
    
    /* debug */
    /* background-color: #add8e6; */
    /* height: 60px; */
}

.logo {
    width: 70px;
}
.header ul{
    gap: 20px;
    font-size: 0.8rem;
    display: flex;
}



/* hero */
.hero {
    background-color: rgb(180 208 230);
}


.hero-plan {
    border: 2 solid lightgrey;
    width: 100%;
    margin-top: 30px;
}

/* business plan */

.radio {
    display: flex;
    justify-content: baseline;
    font-size: 0.8rem;
}
.radio-btn-year {
    margin-left: 50px;
}

.col-business-plan {
    width: calc(95%/3);

    /* Debug */
    border: 1px solid lightgray;
    min-height: 500px;
    /* background-color: lightgray; */
}

.head-business {
    font-size: 0.8rem;
    padding: 10px;
    text-align: center;
}

.corp-business {
    padding: 20px;
}

.link-business {
    display: flex;
    justify-content: center;
}


.horizontal {
    width: 100%;
    min-height: 200px;
    /* min-height: 300px; */
}

.horizontal-100 {
    display: flex;

    /* debug */
    /* border: 1px solid lightgoldenrodyellow; */
}

.horizontal-70 {
    width: 70%;
}

.horizontal-30 {
    width: 30%;
}



/* partner dropxbox */
.partner-box-70 {
    width: 70%;

    /* debug */
    min-height: 400px;
    /* background-color: lightgray; */
    /* border: 1px solid lightgoldenrodyellow; */
}

.partner-box-30 {
    width: 30%;
    margin-bottom: 20px;

    /* debug */
    min-height: 400px;
    /* background-color: lightgray; */
    /* border: 1px solid lightgoldenrodyellow; */
}



/* card */
.card {
    width: calc(95%/3);

    /* dubug */
    background-color: lightgray;
    min-height: 100px;
}

.col-business-70 {
    margin-top: 30px;
}

.business-70 {
    width: 70%;
    padding: 30px;

    /* debug */
    background-color: lightgray;
    min-height: 100px;
}



/* footer */
.footer {
    background-color: lightpink;
}

.col-20 {
    width: calc(95%/5);

    /* debug */
    background-color: lightgray;
    min-height: 300px;
}

