* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}



/* button style */
/* .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}

.btn-primary {
    font-size: 15px;
    background-color: lightskyblue;
} */


/* COMMON */
/* Layout */

.section {
    padding: 30px;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    /* debug */
    border: 1px solid black;
    min-height: 300px;
    background-color: lightgreen;
}

.small-container {
    width: 60%;
    max-width: 1100px;
    margin: 0 auto;

    /* debug */
    /* border: 1px solid blue; */
    min-height: 300px;
    background-color: lightseagreen;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}



/* body */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px
    
    /* debug */
    /* background-color: #add8e6; */
    /* height: 60px; */
}


.header ul{
    gap: 30px;
    font-size: 0.8rem;
    display: flex;
}

.hero {}



/* business plan */

.col-business-plan {
    width: calc(95%/3);

    /* Debug */
    /* border: 2px solid blue; */
    min-height: 500px;
    background-color: lightgray;
}

.horizontal {
    width: 100%;
    min-height: 300px;
    display: flex;
}

.horizontal-70 {
    width: 70%;

    /* debug */
    border: 1px solid lightgoldenrodyellow;
}

.horizontal-30 {
    width: 30%;

    /* debug */
    border: 1px solid lightgoldenrodyellow;
}



/* partner dropxbox */
.partner-box-55 {
    width: 60%;

    /* debug */
    min-height: 400px;
    background-color: lightgray;
    border: 1px solid lightgoldenrodyellow;
}

.partner-box-35 {
    width: 40%;

    /* debug */
    min-height: 400px;
    background-color: lightgray;
    border: 1px solid lightgoldenrodyellow;
}



/* card */
.card {
    width: calc(95%/3);

    /* dubug */
    background-color: lightgray;
    min-height: 100px;
}

.col-business-70 {
    margin-top: 30px;
}

.business-70 {
    width: 70%;
    padding: 30px;

    /* debug */
    background-color: lightgray;
    min-height: 100px;
}



/* footer */
.footer {
    background-color: lightpink;
}

.col-20 {
    width: calc(95%/5);

    /* debug */
    background-color: lightgray;
    min-height: 300px;
}

hr {
    width: 18%;
}